{% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}


<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 col-12 mx-auto">
        <h1 class="heading">🍁Crop Disease
                Detection🍁</h1>
        <p class="lead subtitle-h">This Web Application Will Help To Detect Disease From Following Fruites And Veggies</p>
    </div>
</div>

<center class="laptop">
    <a href="/index">
      <button class = "bttn-pill bttn-lg btn-success d-btn">Detect Disease</button>
    </a>
</center>
<div class="title-h">
  <h2 class="heading2">Major crops grown in India </h2>
</div>
<section class="main">
<div class="row crop-list">
    <div class="col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="../static/uploads/apple.jpg"  >
          <center><p class="lead crop-title">Apple</p></center>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="crops bg-white shadow rounded-lg">
          <img class="crp-img" src="https://img.freepik.com/free-photo/blueberries-are-bowl-table_1340-24277.jpg?t=st=1711644683~exp=1711648283~hmac=d1e53a032883f47b26b2007adb30a05667d8a6288c17108979a61b1b5eb39cfb&w=996"  >
          <center><p class="lead crop-title">Blueberry</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://img.freepik.com/free-photo/cherries-with-flower-pot-wooden-plate-pink-grungy-surface-side-view_176474-6339.jpg?t=st=1711644756~exp=1711648356~hmac=3e59695769ff6cf6665c196daebe43768af3dfc3fd776da96d4bb16bb5bf232d&w=996"  >
          <center><p class="lead crop-title">Cherry</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://img.freepik.com/free-photo/corn-stalk-ready-harvest-field_1150-21861.jpg?t=st=1711644837~exp=1711648437~hmac=f07e12a1a7c37bc421b742bf7f3dfe4d6a42ad761c9303ee5c980f4524b3698e&w=996"  >
          <center><p class="lead crop-title">Corn</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://img.freepik.com/free-photo/red-wine-grapes-hanging-vine_1101-3094.jpg?t=st=1711644908~exp=1711648508~hmac=c3647f9b1aefbe8352f25f79912e0cb9f4df926854719f616017f88735f03f9c&w=996"  >
          <center><p class="lead crop-title">Grape</p></center>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://img.freepik.com/free-photo/closeup-shot-delicious-fresh-oranges-tree_181624-14410.jpg?t=st=1711644969~exp=1711648569~hmac=9c083382e63aec6e3244babb841db5c2853f1d1b785dcefef2750782d8f8c884&w=996"  >
          <center><p class="lead crop-title">Orange</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://images.pexels.com/photos/2893525/pexels-photo-2893525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  >
          <center><p class="lead crop-title">Pepper Bell</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://img.freepik.com/free-photo/freshness-nature-harvest-outdoors-summer-meadow-generated-by-artificial-intelligence_25030-67686.jpg?t=st=1711645334~exp=1711648934~hmac=f9de6ee14c86377cd0a66dd806533be514a85b6e9ecc3f64964c899383ccde49&w=1060"  >
          <center><p class="lead crop-title">Potato</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://m.economictimes.com/thumb/msid-66988154,width-1200,height-900,resizemode-4,imgsize-211276/soyabean-agencies.jpg"  >
          <center><p class="lead crop-title">Soybean</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
          <img class="crp-img" src="https://post.healthline.com/wp-content/uploads/2020/08/squash-fruit-or-vegetable-732x549-thumbnail-732x549.jpg"  >
          <center><p class="lead crop-title">Squash</p></center>
        </div>
      </a>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 crop">
      <a href="/index">
        <div class="bg-white shadow rounded-lg crops">
              <img class="crp-img" src="https://images.indianexpress.com/2020/02/strawberry-1200.jpg"  >
              <center><p class="lead crop-title">Strawberry</p></center>
          </div>
      </a>
      </div>
        <div class="col-lg-3 col-md-6 col-12 crop">
          <a href="/index">
            <div class="bg-white shadow rounded-lg crops">
              <img class="crp-img" src="https://images-prod.healthline.com/hlcmsresource/images/AN_images/tomatoes-1296x728-feature.jpg"  >
              <center><p class="lead crop-title">Tomato</p></center>
            </div>
          </a>
    </div>
</div>
</section>
{% endblock body %}
